.container{  
    height: auto;
    width: 350px;
    border: 2px solid;
}
.toedit{
    
    height: 65px;
    width: 70px;
    margin: 5px;
    font-size: 25px;
    
}
 #display{
    
    margin: 10px 25px;
    height: 70px;
    width:290px; 
    font-size: 30px; 
    
     
} 
.button-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}